html {
  width: 100%;
  min-height: 100vh;
  font-size: medium;
}
html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font: 100% Consolas;
  color: #2D3041;
  background-color: rgba(200, 200, 200, 0.7843137255);
  transition: background-color 1s;
  margin: 0px;
}
body a {
  color: #2D3041;
  text-decoration: none;
}
body a:hover {
  -webkit-text-decoration: underline #2e1f4b solid;
          text-decoration: underline #2e1f4b solid;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 75vh;
}

.dark-mode html {
  background-color: rgba(54, 37, 89, 0.9254901961);
}
.dark-mode header, .dark-mode main, .dark-mode footer {
  color: #efefef;
  background-color: rgba(54, 37, 89, 0.9254901961);
  transition: background-color 1s, color 1s;
}
.dark-mode header a, .dark-mode main a, .dark-mode footer a {
  color: #efefef;
  text-decoration: none;
}
.dark-mode header a:hover, .dark-mode main a:hover, .dark-mode footer a:hover {
  -webkit-text-decoration: underline #bebdbd solid;
          text-decoration: underline #bebdbd solid;
}
.dark-mode header #navLinks li:hover, .dark-mode main #navLinks li:hover, .dark-mode footer #navLinks li:hover {
  background: #2e1f4b;
  border: 2px solid #2e1f4b;
}
.dark-mode .left-content, .dark-mode .center-content {
  background-color: #362559;
}

#generalAnchor {
  text-decoration: none;
  color: #2D3041;
  transition: color 0.5s;
}

#generalAnchor:hover {
  -webkit-text-decoration: underline #2D3041;
          text-decoration: underline #2D3041;
}

hr.rounded {
  border-top: 4px solid #B8A9D9;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.fixed-nav-buttons {
  display: flex;
  flex-direction: column;
  text-align: end;
  position: fixed;
  right: 25px;
  bottom: 15px;
}
.fixed-nav-buttons a {
  margin-top: 3px;
}
.fixed-nav-buttons button {
  font-size: 10px;
}
.fixed-nav-buttons img {
  width: 1.5em;
  height: 1.5em;
}

#button-one {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 4px solid black;
  padding-bottom: 25px;
  background-color: #c8c8c8;
  width: 250px;
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

#mainWebsiteLink {
  margin-bottom: 5px;
  text-decoration: none;
}
#mainWebsiteLink h2 {
  font-family: cursive;
}

#homeLink h2 {
  font-weight: bolder;
}

#navLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  list-style: none;
  padding-left: 0;
}
#navLinks li {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  width: 95%;
  height: 3em;
}
#navLinks li:hover {
  background: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 20px;
}
#navLinks a {
  margin-left: 1em;
  text-decoration: none;
  width: 95%;
}
#navLinks li:hover {
  background: #bebdbd;
  border: 2px solid #bebdbd;
}
#navLinks div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
}
#navLinks h3 {
  margin: 0;
}
#navLinks img {
  width: 2em;
  height: 2em;
}

#moreLink {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
  margin-left: 1em;
}
#moreLink h3 {
  margin: 0;
}
#moreLink img {
  width: 2em;
  height: 2em;
}

.center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  margin: 16px 10px 16px 400px;
  padding: 0 15px;
}

.home-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.one-post {
  display: flex;
  flex-direction: column;
  width: 520px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.post-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.post-top img {
  height: 30px;
  width: 30px;
  margin: 0 10px 0 10px;
}
.post-top h4 {
  font-size: 1.1em;
}

.author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
}

.post-content {
  border: 4px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-content img {
  height: 400px;
}
.post-content video {
  height: 400px;
  width: 100%;
}

.post-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pfpImage {
  height: 50px;
  width: 50px;
  background: linear-gradient(#ccc 0 0) padding-box, linear-gradient(to right, #9c20aa, #fb3570) border-box;
  color: #313149;
  border: 5px solid transparent;
  border-radius: 50px;
  display: inline-block;
}

footer {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 300px;
  margin-top: 15px;
  gap: 15px;
}

.top-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.top-footer li {
  display: inline;
  margin: 6px 6px;
  white-space: wrap;
}

#profile-suggestions {
  padding-left: 0;
  list-style-type: none;
}

#profile-names {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.1px;
}
#profile-names h5 {
  margin: 0;
}

.right-content {
  align-self: stretch;
  width: 20%;
  border-radius: 25px;
  border: 4px solid black;
}

@media screen and (max-width: 1700px) {
  .video-column {
    width: 33.33333%;
  }
}
@media screen and (max-width: 1200px) {
  .video-column {
    width: 49.9999%;
  }
  .top-footer {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .left-content {
    width: 100px;
  }
  .left-content h3 {
    display: none;
  }
  .center-content {
    margin: 16px 10px 5px 100px;
  }
  #navLinks a, #navLinks li {
    width: 75%;
    padding-left: 4px;
  }
}
@media screen and (max-width: 700px) {
  .video-column {
    width: 99.99999%;
  }
  .top-footer {
    grid-template-columns: 20fr;
    justify-items: start;
    padding: 5px 20px 5px 30px;
  }
}/*# sourceMappingURL=style.css.map */