{% extends "layout.html" %}


{% block content %}

<div class="explore-posts">
  <div class="suggested-tags">
    <ul id="test-list">
      <li>Example Tag 1</li>
      <li>Example Tag 2</li>
      <li>Example Tag 3</li>
    </ul>
  </div>
  <div class="post-grid">
    <div class="one-post">
  
    </div>
  </div>
</div>

{% endblock content %}


<!-- <div class="explore-grid">
  <div class="suggested-tags">
    <ul id="test-list">
      <li>Example Tag 1</li>
      <li>Example Tag 2</li>
      <li>Example Tag 3</li>
    </ul>
  </div>
  <div class="explore-post">
    <ul id="test-list">
      <li>Fucking Hell</li>
      <li>Fucking Hell</li>
      <li>Fucking Hell</li>
      <li>Fucking Hell</li>
      <li>Fucking Hell</li>
      <li>Fucking Hell</li>
    </ul>

  </div>
</div> -->