
{% extends "layout.html" %}

{% block content %}

<div class="home-page">
  <div class="stories-list">
    <div class="one-story">
      <img class="pfp-image-large" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <p>profile name</p>
    </div>
    <div class="one-story">
      <img class="pfp-image-large" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <p>profile name</p>
    </div>
    <div class="one-story">
      <img class="pfp-image-large" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <p>profile name</p>
    </div>
    <div class="one-story">
      <img class="pfp-image-large" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <p>profile name</p>
    </div>
    <div class="one-story">
      <img class="pfp-image-large" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <p>profile name</p>
    </div>
    <div class="one-story">
      <img class="pfp-image-large" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <p>profile name</p>
    </div>
    <div class="one-story">
      <img class="pfp-image-large" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <p>profile name</p>
    </div>
    <div class="one-story">
      <img class="pfp-image-large" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <p>profile name</p>
    </div>
  </div>
  <div class="post-list">
    <div class="one-post">
      <div class="post-top">
        <div class="author-info">
          <img class="pfp-image-medium" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          <h4>James Howlett</h4>
          <small> 4h</small>
        </div>
        <img src={{ url_for('static', filename='svg_images/three-dots.svg') }} alt=""></img>
      </div>
      <a href="#">
        <div class="post-content">
          <img src={{ url_for('static', filename='sample_posts/wolverine aoa.jpg') }} alt=""></img>
        </div>
      </a>
      <div class="post-buttons">
        <div>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/heart.svg') }} alt="" ></img>
          </a>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/chat.svg') }} alt="" ></img>
          </a>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/send.svg') }} alt="" ></img>
          </a>
        </div>
        <a href="" id="">
          <img src={{ url_for('static', filename='svg_images/bookmark.svg') }} alt="" ></img>
        </a>
      </div>
      <div class="post-bottom">
        <div class="likes-section">
          <div class="like-images">
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          </div>
          <p>Liked by <a>Ororo Monroe</a> and <a>80 others</a></p>
        </div>
        <p id="hideParagraph"><a href="" id="postAuthor">James Howlett</a> Post Caption. Wrap to next line if too long, click to unwrap hidden text</p>
        
        <a href="" id="">
          <p>View all (generated number) comments</p>
        </a>  
        <div class="home-comment-section">
          <input type="text" id="" placeholder="Add a comment..." name="comment" minlength="4" maxlength="250" size="10">
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/emoji-smile.svg') }} alt="" ></img>
          </a>
        </div>
      </div>
    </div>

    <div class="one-post">
      <div class="post-top">
        <div class="author-info">
          <img class="pfp-image-medium" id="pfpActiveStory" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          <h4>Ororo Munroe</h4>
          <small> 19h</small>
          
        </div>
        <img src={{ url_for('static', filename='svg_images/three-dots.svg') }} alt=""></img>
      </div>
      <a href="#">
        <div class="post-content">
          <img src={{ url_for('static', filename='sample_posts/storm aoa.jpg') }} alt=""></img>
        </div>
      </a>
      <div class="post-buttons">
        <div>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/heart.svg') }} alt="" ></img>
          </a>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/chat.svg') }} alt="" ></img>
          </a>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/send.svg') }} alt="" ></img>
          </a>
        </div>
        <a href="" id="">
          <img src={{ url_for('static', filename='svg_images/bookmark.svg') }} alt="" ></img>
        </a>
      </div>
      <div class="post-bottom">
        <div class="likes-section">
          <div class="like-images">
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          </div>
          <p>Liked by <a>James Howlett</a> and <a>80 others</a></p>
        </div>
        <p><a href="" id="postAuthor">Ororo Monroe</a> Post Caption. Wrap to next line if too long, click to unwrap hidden text</p>
        <a href="" id="">
          <p>View all (generated number) comments</p>
        </a>
        <div class="home-comment-section">
          <input type="text" id="" placeholder="Add a comment..." name="comment" minlength="4" maxlength="250" size="10">
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/emoji-smile.svg') }} alt="" ></img>
          </a>
        </div>
      </div>
    </div>

    <div class="one-post">
      <div class="post-top">
        <div class="author-info">
          <img class="pfp-image-medium" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          <h4>Kurt Wagner</h4>
          <small> 4d</small>
        </div>
        <img src={{ url_for('static', filename='svg_images/three-dots.svg') }} alt=""></img>
      </div>
      <a href="#">
        <div class="post-content">
          <img src={{ url_for('static', filename='sample_posts/nightcrawler aoa.png') }} alt=""></img>
        </div>
      </a>
      <div class="post-buttons">
        <div>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/heart.svg') }} alt="" ></img>
          </a>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/chat.svg') }} alt="" ></img>
          </a>
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/send.svg') }} alt="" ></img>
          </a>
        </div>
        <a href="" id="">
          <img src={{ url_for('static', filename='svg_images/bookmark.svg') }} alt="" ></img>
        </a>
      </div>
      <div class="post-bottom">
        <div class="likes-section">
          <div class="like-images">
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
            <img class="pfp-image-small" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          </div>
          <p>Liked by <a>Ororo Monroe</a> and <a>80 others</a></p>
        </div>
        <p><a href="" id="postAuthor">Kurt Wagner</a> Post Caption. Wrap to next line if too long, click to unwrap hidden text</p>
        <a href="" id="">
          <p>View all (generated number) comments</p>
        </a>
        <div class="home-comment-section">
          <input type="text" id="" placeholder="Add a comment..." name="comment" minlength="4" maxlength="250" size="10">
          <a href="" id="">
            <img src={{ url_for('static', filename='svg_images/emoji-smile.svg') }} alt="" ></img>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="right-suggestions">
  <div class="post-top">
    <div class="author-info">
      <img class="pfp-image-large" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
      <div id="profile-names">
        <h5>Your Profile</h5>
        <small>Your Username</small>
      </div>
    </div>
    <p>Switch</p>
  </div>
  <div class="post-top">
    <div class="author-info">
      <div id="profile-names">
        <h5>Suggestions for you</h5>
      </div>
    </div>
    <p>See All</p>
  </div>
  <ul id="profile-suggestions">
    <li>
      <div class="post-top">
        <div class="author-info">
          <img class="pfp-image-medium" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          <div id="profile-names">
            <h5>Your Profile</h5>
            <small>Your Username</small>
          </div>
        </div>
        <a>
          <p>Follow</p>
        </a>
      </div>
    </li>
    <li>
      <div class="post-top">
        <div class="author-info">
          <img class="pfp-image-medium" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          <div id="profile-names">
            <h5>Your Profile</h5>
            <small>Your Username</small>
          </div>
        </div>
        <a>
          <p>Follow</p>
        </a>
      </div>
    </li>
    <li>
      <div class="post-top">
        <div class="author-info">
          <img class="pfp-image-medium" src={{ url_for('static', filename='sample_posts/Bobby.jpg') }} alt=""></img>
          <div id="profile-names">
            <h5>Your Profile</h5>
            <small>Your Username</small>
          </div>
        </div>
        <a>
          <p>Follow</p>
        </a>
      </div>
    </li>
  </ul>
  <footer>
    <div class="top-footer">
      <ul>
        <li>About</li>
        <li>Help</li>
        <li>Privacy</li>
        <li>Terms</li>
        <li>Language</li>
        <li>Business</li>
        <li>Subscription</li>
      </ul>
    </div>
    <div class="bottom-footer">
      <button class="" onclick="toggleDarkMode()">Dark/Light</button>
      <small>@2023 Elijah Ruffin</small>
    </div>
  </footer>
</div>





{% endblock content %}
