
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <title>Social Media App</title>
  </head>

  <body>
    <div class="fixed-nav-buttons">
      <a href="#top"><img src={{ url_for('static', filename='svg_images/angle-up-solid.svg') }} alt=""></a>
      <a href="#bottom"><img src={{ url_for('static', filename='svg_images/angle-down-solid.svg') }} alt=""></a>
    </div>

    <script>
      var dark_setting = localStorage.getItem('isDarkMode')
      if (dark_setting === 'true'){
        document.body.classList.add("dark-mode");
      }
    </script>

    <div id="top"></div>
    
    <main>
      <div class="left-content">
        <ul id="NavLinks">
          <a href="" id="mainWebsiteLink">
            <h2>NotInstagram</h2>
          </a>
          <li>
            <a href="">
              <div id="homeLink">
                <img src={{ url_for('static', filename='svg_images/house-door.svg') }} alt="" ></img>
                <h3>Home</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src={{ url_for('static', filename='svg_images/search.svg') }} alt="" ></img>
                <h3>Search</h3>
              </div>
            </a>
          </a>
          <li>
            <a href="">
              <div>
                <img src={{ url_for('static', filename='svg_images/compass.svg') }} alt="" ></img>
                <h3>Explore</h3>              
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src={{ url_for('static', filename='svg_images/plus-circle.svg') }} alt="" ></img>
                <h3>New post</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src={{ url_for('static', filename='svg_images/chat.svg') }} alt="" ></img>
                <h3>Messages</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="{{ url_for('notifications') }}">
              <div>
                <img src={{ url_for('static', filename='svg_images/bell.svg') }} alt="" ></img>
                <h3>Notifications</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src={{ url_for('static', filename='svg_images/person.svg') }} alt="" ></img>
                <h3>Profile</h3>
              </div>
            </a>
          </li>
        </ul>

        <a href="" id="moreLink">
          <img src={{ url_for('static', filename='svg_images/bars-solid.svg') }} alt="" ></img>
          <h3>More</h3>
        </a>
      </div>
      
      <div class="center-content">
        {% block content %}{% endblock %}

        <footer id="bottom">
          <div class="top-footer">
            <div class="footer-column">
              <h3>Customer Support<hr class="rounded"></h3>
              <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Why Us</a></li>
                <li><a href="{{ url_for('contact') }}" class="">Contact</a></li>
                <li><a href="{{ url_for('faqs') }}" class="">FAQs</a></li>
                <li><a href="{{ url_for('home') }}">Privacy Policy</a></li>
                <li><a href="{{ url_for('home') }}">Terms of Use</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Products and Services<hr class="rounded"></h3>
              <ul>
                <li><a href="{{ url_for('home') }}">Account</a></li>
                <li><a href="{{ url_for('home') }}" class="">Subscriptions</a></li>
                <li><a href="{{ url_for('home') }}">Settings</a></li>
                <li><a href="{{ url_for('home') }}">News</a></li>
                <li><a href="{{ url_for('home') }}">Settings</a></li>
              </ul>          
            </div>
            <div class="footer-column">
              <h3>Customer Support<hr class="rounded"></h3>
              <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Content Search<hr class="rounded"></h3>
               
              <input type="text" placeholder="Search..">
            </div>
          </div>
    
          <hr class="rounded"> 
    
          <div class="bottom-footer">
            <div class="footer-copyright">
              <h3>@2022 Elijah Ruffin</h3>
              <button class="" onclick="toggleDarkMode()">Dark/Light</button>
            </div>
          </div>
        </footer>
      </div>

    </main>
    <hr class="rounded"> 


  </body>
  
  <section>
    <script>
      function toggleDarkMode() {
        var dark_setting = localStorage.getItem('isDarkMode')
        var body_element = document.body;

        body_element.classList.toggle("dark-mode");

        if (body_element.classList.contains("dark-mode")){
          localStorage.setItem('isDarkMode', true)
        } else{
          localStorage.setItem('isDarkMode', false)
        }
      }
    </script>

    <script>

      /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      } 
    </script>
  </section>
</html>
